

/*RESET*/

* {
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: var(--body-font);
  font-size: var(--base-font-size);
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  transition: all var(--anim-timing);
}

svg {
  max-height: 100%;
}

a {
  color: var(--blue);
  outline: 0;
  text-decoration: none;
  transition: all var(--anim-timing-medium);
}

.asc:after {
  color: var(--green);
  content: '\002193';
  padding-left: .3em;
}

.desc:after {
  color: var(--green);
  content: '\002191';
  padding-left: .3em;
}

.mt3-5 {
  margin-top: 3.5rem;
}
.mln2-5 {
  margin-left: -1.5em;
}

/*h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  letter-spacing: .02em;
  line-height: inherit;
  margin-bottom: var(--space-2);
  margin-top: var(--space-3);
}
*/
.h1, .h2, .h3 {
  letter-spacing: .02em;
}

/*h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }
*/
p {
  margin-top: 0;
  margin-bottom: 1em;
}

strong { font-weight: 600; }

.medium { font-weight: 500; }

dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align:left;
}

code,
pre,
samp,
.mono {
  font-family:
    'Roboto Mono',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
    white-space: pre;
    line-height: 1.3em;
}

code, samp {
  font-size: 87.5%;
  padding: .125em;
}

pre {
  font-size: 87.5%;
  overflow: scroll;
}

.pre {
  white-space: pre;
}

blockquote {
  font-size: 1.25rem;
  font-style: italic;
  margin-left: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}

/* #COLORS */

.bg-transparent {
  background-color: transparent;
}

.dark-gray {
  color: var(--dark-gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.border-dark-gray {
  border-color: var(--dark-gray);
}

/* #APP STUFF */
.white {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--white);
    opacity: 0.8;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: var(--white);
    opacity: 0.8;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: var(--white);
    opacity: 0.8;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: var(--white);
    opacity: 0.8;
  }
}
.expandable, .expandable-500 {
  transition: max-height 800ms ease;
  max-height:0px;
  overflow: hidden;
  &.expandable-500 {
    transition: max-height 500ms ease !important;
  }
  &.expanded-2000 {
    max-height:2000px;
    overflow: auto;
  }
  &.expanded-1000 {
    max-height:1000px;
    overflow: auto;
  }
  &.expanded-500 {
    max-height:500px;
    overflow: auto;
  }
}
.material-icons {
  transition: all ease 500ms;
}
.rotate-180 {
  transform: Rotate(180DEG);
}

.gridItem {
  max-width:12em;
}

.clover {
  transition: background 500ms ease, border 500ms ease;
  background-color: var(--green);
  border-radius: 50%;
  padding: 1.6em;
  display: inline-block;
  z-index:0;
  position: relative;

  &.no-border {
    border: 0px !important;
  }
  .row {
    line-height: 0;
  }
  .active-clover & {
    box-shadow: 0 0 0 .4em;
  }
  &.no-bg {
    background-color: transparent !important;
  }
  &.w-b {
    background-color: var(--black);
    border: 1px solid var(--white);
    &:hover:not(.no-hover) .t-b {
      border: 1px solid var(--white);
    }
  }
  &.w-w {
    background-color: var(--white);
    border: 1px solid var(--black);
    &:hover:not(.no-hover) .t-w {
      border: 1px solid var(--black);
    }
  }
  &.w-t {
    background-color: var(--silver);
  }
  &.bg-green {
    background-color: var(--green);
    border: 1px solid var(--green);
  }

}

.t-b, .t-w, .t-n {
  display: inline-block;
  height: .8em;
  line-height: 0;
  width: .8em;
  border-radius: 50%;
  margin: .06em;
  border: 1px solid transparent;
  transition: border 500ms ease;
}

.t-b {
  background-color: var(--black);
}

.t-w {
  background-color: var(--white);
}

.t-n {
  background-color: var(--green);
}

.claimed {
  opacity: .5;
}

.zig-zag, .zig-zag-white {

  &:not(.zig-zag-white)::before {
    background: linear-gradient(-150deg, var(--black) 16px, transparent 0), linear-gradient(150deg, var(--black) 16px, transparent 0);
  }
  &.zig-zag-white::before {
    background: linear-gradient(-150deg, var(--white) 16px, transparent 0), linear-gradient(150deg, var(--white) 16px, transparent 0);
  }

  &::before {
    background-position: bottom left !important;
    background-repeat: repeat-x !important;
    background-size: 32px 32px !important;
    content: " ";
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }



  &:not(.zig-zag-white)::after {
    background: linear-gradient(-30deg, var(--black) 16px, transparent 0), linear-gradient(30deg, var(--black) 16px, transparent 0);
  }
  &.zig-zag-white::after {
    background: linear-gradient(-30deg, var(--white) 16px, transparent 0), linear-gradient(30deg, var(--white) 16px, transparent 0);
  }
  &::after {

    background-position: bottom left !important;
    background-repeat: repeat-x !important;
    background-size: 32px 32px !important;
    bottom: 0;
    content: " ";
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

/* FORMS */

textarea {
  vertical-align: middle;
}

.upload-progress {
  height: 8px;
  width: 100%;
  vertical-align: middle;

  > div {
    transition: width var(--anim-timing-medium);
  }
}

.label {
  color: var(--gray);
  display: block;
  font-size: var(--h6);
  margin-bottom: var(--space-1);
}

.input {
  background-color: transparent;
  border-style: unset;
  display: block;
  font-size: var(--h4);
  padding: var(--space-2);
  width: 100%;

  &.big {
    font-size: var(--h1);

    &:disabled {
      border: 0;
    }
  }
}

/* select-wrap */
.select {
  display: block;
  position: relative;

  &:after {
    color: var(--gray);
    content: '\232A';
    pointer-events: none;
    position: absolute;
    right: var(--space-2);
    text-shadow: 1px 0px 0px var(--gray);
    top: var(--space-2);
    transform: rotate(90deg) translateX(20%);
  }
}

.textarea {
  border-style: none;
  display: block;
  font-family: inherit;
  font-size: var(--h4);
  max-width: 100%;
  padding: var(--space-2);
  width: 100%;
}

.input,
.textarea,
.btn,
button {

  &:focus {
    border-color: currentColor;
    outline: none;
  }
}


.currency {
  position: relative;

  .input {
    padding-left: 3rem;
  }

  &:before {
    content: '€';
    color: var(--gray);
    position: absolute;
    padding: .9rem 1.4rem;
    top: 0;
    left: 0;
  }
}

button:disabled,
input:disabled,
.unselected {
  opacity: .4;
}

.input, select, textarea, .btn {
  appearance: none;
}

/* HELPERS */

.material-icons {
  font-size: inherit;
  line-height: inherit;
}

.lh1 {
  line-height: 1;
}

.lh2 {
  line-height: 1.25;
}

.pointer {
  cursor: pointer;
}

.no-pointer {
  cursor: default;
}

.no-select {
  user-select: none;
}

.outline-none {
  outline: 0;
}

.min-width-1 {
  min-width: var(--width-0);
}


/* ANIMATION */

.sending {
  animation-name: pulse;
  animation-duration: var(--anim-timing-long);
  animation-iteration-count: infinite;
  opacity: 1 !important;
  display: inline-block;
}

@keyframes pulse {
  from { transform: scale(1.4); }
  50% { transform: scale(1.2); }
  to { transform: scale(1.4); }
}
