@custom-media --breakpoint-xs (max-width: 40em);
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-sm-only (max-width: 52em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --body-font: -apple-system,system-ui,"San Francisco",BlinkMacSystemFont,"Helvetica Neue",Helvetica,Ubuntu,Roboto,Noto,"Segoe UI",Arial,sans-serif;
  --base-font-size: 16px;

  /* colors */
  --aqua:  #7FDBFF;
  --blue:  #0074D9;
  --navy:  #001F3F;
  --teal:  #39CCCC;
  --green: #2ECC40;
  --olive: #3D9970;
  --lime:  #01FF70;

  --yellow:  #FFDC00;
  --orange:  #FF851B;
  --red:     #FF4136;
  --fuchsia: #F012BE;
  --purple:  #A23FA3;
  --maroon:  #85144B;

  --white:  #FFFFFF;
  --silver: #DDDDDD;
  --light-gray: rgb(233, 233, 233);
  --gray:   #AAAAAA;
  --dark-gray: rgb(40, 40, 40);
  --black:  #111111;

  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);
  --darken-4: rgba(0, 0, 0, .5);

  --border-radius: 6px;
  --border-radius-2: 2em;

  /* animations */
  --anim-timing: .08s;
  --anim-timing-medium: .18s;
  --anim-timing-long: .5s;
  --anim-timing-very-long: 2s;
  --anim-ease: ease-in-out;

  /* spacing */
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --width-0: 10rem;
  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem;

  --h00: 4rem;
  --h0: 3rem;
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;
}
