

/*RESET*/

* {
  margin:0; padding:0;
  box-sizing: border-box;
  border-width:1px;
}

html {
  font-size:var(--rem);
  /*background-color: var(--green)*/
}

body {
  overflow-x: hidden;
  background-color: white;
  color: var(--green);
  font-family: var(--body-font);
  font-size: var(--base-font-size);
  line-height: 1.4;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*#app { overflow-x: hidden; }*/

img {
  height: auto;
  max-width: 100%;
  transition: all var(--anim-timing);
}

svg {
  max-height: 100%;
}

.inline-flex {
  display: inline-flex;
}
a {
  /* color: var(--blue); */
  color:inherit;
  outline: 0;
  text-decoration: none;
  /* transition: all var(--anim-timing-medium); */
}

h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  font-weight: inherit;
}
.mh {
  margin-top: 46px;
}

button{
  appearance:none;
  border:none;
  background:none;
  color:inherit;
  font-size:inherit;
  padding:0;
  font-family:inherit;
}

input{
  appearance:none;
  border:none;
  font-size:inherit;
  background:none;
  color:inherit;
  &:focus{
    outline:none;
  }
}

/* hide input[number] arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input:focus {
  background-color: var(--lightest-green);
}

h1 {
  line-height: 1.15;
}

.z5 {
  z-index: 5;
}

/*h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  letter-spacing: .02em;
  line-height: inherit;
  margin-bottom: var(--space-2);
  margin-top: var(--space-3);
}
.h1, .h2, .h3 {
  letter-spacing: .02em;
}
*/

/*h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }
*/
p {
  margin-top: 0;
  margin-bottom: 1em;
}
small{font-size:inherit;}
.pt5{padding-top: 5em;}
.pt6{padding-top: 6em;}
.pt7{padding-top: 7em;}
.pt8{padding-top: 8em;}
.pt-header{padding-top:93px}
strong { font-weight: 600; }

.minh-200 {
  min-height:166px;
}

.fixed-center-max-width {
  width:100%;
  position: fixed;
  left:50%;
  transform: translateX(-50%);
       max-width: var(--width-3);
}
.medium { font-weight: 500; }

dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align:left;
}

code,
pre,
samp,
.mono {
  font-family:
    'Roboto Mono',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
    white-space: pre;
    line-height: 1.3em;
}

code, samp {
  font-size: 87.5%;
  padding: .125em;
}

pre {
  font-size: 87.5%;
  overflow: scroll;
}

blockquote {
  font-size: 1.25rem;
  font-style: italic;
  margin-left: 0;
}

hr {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--green);
}



/* #APP STUFF */

.white {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--white);
    opacity: 0.8;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: var(--white);
    opacity: 0.8;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: var(--white);
    opacity: 0.8;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: var(--white);
    opacity: 0.8;
  }
}
.expandable, .expandable-500 {
  transition: max-height 800ms ease;
  max-height:0px;
  overflow: hidden;
  &.expandable-500 {
    transition: max-height 500ms ease !important;
  }
  &.expanded-2000 {
    max-height:2000px;
    overflow: auto;
  }
  &.expanded-1000 {
    max-height:1000px;
    overflow: auto;
  }
  &.expanded-500 {
    max-height:500px;
    overflow: auto;
  }
}

.claimed { opacity: .5; }

.clover-item-border {
  border: 1px dashed;
  box-shadow: none;
  transition: all var(--anim-timing-medium);

  &:hover {
    border: 1px solid;
    box-shadow: var(--green-shadow);
  }
}

[data-expand] {
  transition-property: all;
  animation-duration: 800ms;
}
[data-appear='0'] {
  animation-name: appear0;
}
[data-appear='1'] {
  animation-name: appear1;
}
[data-appear='2'] {
  animation-name: appear2;
}

@keyframes appear0 {
  from {
    opacity: 0;
    transform: translate(8%, 3%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes appear1 {
  from {
    opacity: 0;
    transform: translate(-3%, 8%);
  }
  to {
    opacity: 1;
  }
}
@keyframes appear2 {
  from {
    opacity: 0;
    transform: translate(-8%, 3%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* FORMS */

textarea {
  resize: vertical;
  vertical-align: middle;
}

.upload-progress {
  height: 8px;
  width: 100%;
  vertical-align: middle;

  & > div {
    transition: width var(--anim-timing-medium);
  }
}

.label {
  color: var(--gray);
  display: block;
  font-size: var(--h6);
  margin-bottom: var(--space-1);
}

.email, .button { border-radius: 0; }

.input {
  background-color: transparent;
  border-style: unset;
  display: block;
  font-size: var(--h4);
  padding: var(--space-2);
  width: 100%;
  border-radius: 0;
  line-height: normal;

  &.big {
    font-size: var(--h1);

    &:disabled {
      border: 0;
    }
  }
}

/* select-wrap */
.select {
  display: block;
  position: relative;
  border: 1px solid currentColor;
  border-radius: var(--border-radius);
  transition: all var(--anim-timing-medium);

  & select {
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    height: var(--height-select);
    outline: none;
    padding: 0 var(--space-4) 0 var(--space-2);
    width: 100%;
  }

  &:after {
    color: var(--green);
    content: '';
    background: url(./assets/icons/chevron-down.svg) no-repeat center;
    width: 15px;
    height: 15px;
    pointer-events: none;
    position: absolute;
    right: var(--space-2);
    text-shadow: 1px 0px 0px var(--green);
    top: var(--space-1);
    transform: translateY(7px);
  }

  &.active:after { transform: rotate(180DEG); }

  &:hover { background-color: var(--lightest-green); }
}

.hover-bg-l-green {
  transition: all var(--anim-timing-medium);

  &:hover { background-color: var(--lightest-green); }
}

.textarea {
  border-style: none;
  display: block;
  font-family: inherit;
  font-size: var(--h4);
  max-width: 100%;
  padding: var(--space-2);
  width: 100%;
}

.input,
.textarea,
.btn,
button {

  &:focus {
    border-color: currentColor;
    outline: none;
  }
}

.bg-currentColor {
  background-color: currentColor;
}

.currency {
  position: relative;

  & .input {
    padding-left: 3rem;
  }

  &:before {
    content: '€';
    color: var(--gray);
    position: absolute;
    padding: .9rem 1.4rem;
    top: 0;
    left: 0;
  }
}

button:disabled:not(.h-bttm-bar),
input:disabled,
.unselected {
  opacity: .4;
}

.input, select, textarea, .btn {
  appearance: none;
}

.green::-webkit-input-placeholder,
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--light-green);
}
.green::-moz-placeholder,
::-moz-placeholder { /* Firefox 19+ */
  color: var(--light-green);
}
.green:-ms-input-placeholder,
:-ms-input-placeholder { /* IE 10+ */
  color: var(--light-green);
}
.green:-moz-placeholder,
:-moz-placeholder { /* Firefox 18- */
  color: var(--light-green);
}

.light-green { color: var(--light-green); }
.light-gray { color: var(--light-gray); }

/* HELPERS */

img.illustration {
  width: 80%;
  min-width: 600px;
  max-width: 800px;
}

.hover-flip-h, .hover-flip-v, .hover-flip-diag, .hover-flip-rotate {
image-rendering: optimizeSpeed;             /*                     */
image-rendering: -moz-crisp-edges;          /* Firefox             */
image-rendering: -o-crisp-edges;            /* Opera               */
image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
image-rendering: optimize-contrast;         /* CSS3 Proposed       */
-ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

.hover-flip-h.active {
  transition: transform 0.4s ease-in-out;
  transform: scaleY(-1);
}

.hover-flip-v.active {
  transition: transform 0.4s ease-in-out;
  transform: scaleX(-1);
}

.hover-flip-diag.active {
  transition: transform 0.4s ease-in-out;
  transform: rotate3d(45,45,0,360deg);
}

.hover-flip-rotate.active {
  transition: transform 0.4s ease-in-out;
  transform: rotate3d(0,0,1,360deg);
}


/* ANIMATION */

.transition-all { transition: all var(--anim-timing-medium); }
.transition-delay { transition-delay: var(--anim-timing-medium); }

.sending {
  animation-name: pulse;
  animation-duration: var(--anim-timing-long);
  animation-iteration-count: infinite;
  opacity: 1 !important;
  display: inline-block;
}

@keyframes pulse {
  from { transform: scale(1.4); }
  50% { transform: scale(1.2); }
  to { transform: scale(1.4); }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity var(--anim-timing-medium);
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.lazyload,
.lazyloading {
  opacity: 0;
  transition: opacity 300ms;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
