

/*RESET*/

* {
  margin:0; padding:0;
  box-sizing: border-box;
  border-width:1px;
}

html{
  font-size:var(--rem);
}

body {
  color: var(--green);
  font-family: var(--body-font);
  font-size: var(--base-font-size);
  line-height: 1.4;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  transition: all var(--anim-timing);
}

svg {
  max-height: 100%;
}

.inline-flex {
  display: inline-flex;
}
a {
  /* color: var(--blue); */
  color:inherit;
  outline: 0;
  text-decoration: none;
  /* transition: all var(--anim-timing-medium); */
}

h1,h2,h3,h4,h5,h6{
  font-size:inherit;
  font-weight: inherit;
}

button{
  appearance:none;
  border:none;
  background:none;
  color:inherit;
  font-size:inherit;
  padding:0;
}

input{
  appearance:none;
  border:none;
  font-size:inherit;
  background:none;
  color:inherit;
  &:focus{
    outline:none;
  }
}

/* hide input[number] arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h1 {
  line-height: 1.2;
}

/*h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  letter-spacing: .02em;
  line-height: inherit;
  margin-bottom: var(--space-2);
  margin-top: var(--space-3);
}
.h1, .h2, .h3 {
  letter-spacing: .02em;
}
*/

/*h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }
*/
p {
  margin-top: 0;
  margin-bottom: 1em;
}

strong { font-weight: 600; }

.medium { font-weight: 500; }

dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align:left;
}

code,
pre,
samp,
.mono {
  font-family:
    'Roboto Mono',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
    white-space: pre;
    line-height: 1.3em;
}

code, samp {
  font-size: 87.5%;
  padding: .125em;
}

pre {
  font-size: 87.5%;
  overflow: scroll;
}

blockquote {
  font-size: 1.25rem;
  font-style: italic;
  margin-left: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--green);
}



/* #APP STUFF */
.white {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--white);
    opacity: 0.8;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: var(--white);
    opacity: 0.8;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: var(--white);
    opacity: 0.8;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: var(--white);
    opacity: 0.8;
  }
}
.expandable, .expandable-500 {
  transition: max-height 800ms ease;
  max-height:0px;
  overflow: hidden;
  &.expandable-500 {
    transition: max-height 500ms ease !important;
  }
  &.expanded-2000 {
    max-height:2000px;
    overflow: auto;
  }
  &.expanded-1000 {
    max-height:1000px;
    overflow: auto;
  }
  &.expanded-500 {
    max-height:500px;
    overflow: auto;
  }
}


.gridItem {
  max-width:12em;
}

.clover {
  transition: background 500ms ease, border 500ms ease;
  background-color: var(--green);
  border-radius: 50%;
  padding: 1.6em;
  display: inline-block;
  z-index:0;
  position: relative;

  &.small-clover {
    font-size: var(--small-font-size);
  }
  &.no-border {
    border: 0px !important;
  }
  .row {
    line-height: 0;
  }
  .active-clover & {
    box-shadow: 0 0 0 .4em;
  }
  &.no-bg {
    background-color: transparent !important;
  }
  &.w-b {
    background-color: var(--black);
    border: 1px solid var(--white);
    &:hover:not(.no-hover) .t-b {
      border: 1px solid var(--white);
    }
  }
  &.w-w {
    background-color: var(--white);
    border: 1px solid var(--black);
    &:hover:not(.no-hover) .t-w {
      border: 1px solid var(--black);
    }
  }
  &.w-t {
    background-color: var(--silver);
  }
  &.bg-green {
    background-color: var(--green);
    border: 1px solid var(--green);
  }

}

.t-b, .t-w, .t-n {
  display: inline-block;
  height: .8em;
  line-height: 0;
  width: .8em;
  border-radius: 50%;
  margin: .06em;
  border: 1px solid transparent;
  transition: border 500ms ease;
}

.t-b {
  background-color: var(--black);
}

.t-w {
  background-color: var(--white);
}

.t-n {
  background-color: var(--green);
}

.claimed {
  opacity: .5;
}

.zig-zag, .zig-zag-white {

  &:not(.zig-zag-white)::before {
    background: linear-gradient(-150deg, var(--black) 16px, transparent 0), linear-gradient(150deg, var(--black) 16px, transparent 0);
  }
  &.zig-zag-white::before {
    background: linear-gradient(-150deg, var(--white) 16px, transparent 0), linear-gradient(150deg, var(--white) 16px, transparent 0);
  }

  &::before {
    background-position: bottom left !important;
    background-repeat: repeat-x !important;
    background-size: 32px 32px !important;
    content: " ";
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }



  &:not(.zig-zag-white)::after {
    background: linear-gradient(-30deg, var(--black) 16px, transparent 0), linear-gradient(30deg, var(--black) 16px, transparent 0);
  }
  &.zig-zag-white::after {
    background: linear-gradient(-30deg, var(--white) 16px, transparent 0), linear-gradient(30deg, var(--white) 16px, transparent 0);
  }
  &::after {

    background-position: bottom left !important;
    background-repeat: repeat-x !important;
    background-size: 32px 32px !important;
    bottom: 0;
    content: " ";
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

/* FORMS */

textarea {
  vertical-align: middle;
}

.upload-progress {
  height: 8px;
  width: 100%;
  vertical-align: middle;

  > div {
    transition: width var(--anim-timing-medium);
  }
}

.label {
  color: var(--gray);
  display: block;
  font-size: var(--h6);
  margin-bottom: var(--space-1);
}

.input {
  background-color: transparent;
  border-style: unset;
  display: block;
  font-size: var(--h4);
  padding: var(--space-2);
  width: 100%;

  &.big {
    font-size: var(--h1);

    &:disabled {
      border: 0;
    }
  }
}

/* select-wrap */
.select {
  display: block;
  position: relative;

  select {
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    height: 39px;
    outline: none;
    padding: 0 var(--space-2);
    width: 100%;
  }

  &:after {
    color: var(--green);
    content: '\232A';
    pointer-events: none;
    position: absolute;
    right: var(--space-2);
    text-shadow: 1px 0px 0px var(--green);
    top: var(--space-1);
    transform: rotate(90deg) translateX(20%);
  }
}

.textarea {
  border-style: none;
  display: block;
  font-family: inherit;
  font-size: var(--h4);
  max-width: 100%;
  padding: var(--space-2);
  width: 100%;
}

.input,
.textarea,
.btn,
button {

  &:focus {
    border-color: currentColor;
    outline: none;
  }
}


.currency {
  position: relative;

  .input {
    padding-left: 3rem;
  }

  &:before {
    content: '€';
    color: var(--gray);
    position: absolute;
    padding: .9rem 1.4rem;
    top: 0;
    left: 0;
  }
}

button:disabled,
input:disabled,
.unselected {
  opacity: .4;
}

.input, select, textarea, .btn {
  appearance: none;
}

/* HELPERS */

img.illustration {
  width: 80%;
  min-width: 600px;
  max-width: 800px;
}

.hover-flip-h, .hover-flip-v, .hover-flip-diag, .hover-flip-rotate {
image-rendering: optimizeSpeed;             /*                     */
image-rendering: -moz-crisp-edges;          /* Firefox             */
image-rendering: -o-crisp-edges;            /* Opera               */
image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
image-rendering: optimize-contrast;         /* CSS3 Proposed       */
-ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

.hover-flip-h.active {
  transition: transform 0.4s ease-in-out;
  transform: scaleY(-1);
}

.hover-flip-v.active {
  transition: transform 0.4s ease-in-out;
  transform: scaleX(-1);
}

.hover-flip-diag.active {
  transition: transform 0.4s ease-in-out;
  transform: rotate3d(45,45,0,360deg);
}

.hover-flip-rotate.active {
  transition: transform 0.4s ease-in-out;
  transform: rotate3d(0,0,1,360deg);
}


/* ANIMATION */

.sending {
  animation-name: pulse;
  animation-duration: var(--anim-timing-long);
  animation-iteration-count: infinite;
  opacity: 1 !important;
  display: inline-block;
}

@keyframes pulse {
  from { transform: scale(1.4); }
  50% { transform: scale(1.2); }
  to { transform: scale(1.4); }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity var(--anim-timing-medium);
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
