.top-100 { top: 100%; }
.sticky { position: sticky; }

.min-width-1 { min-width: var(--width-0);}

.h7 { font-size: .94rem; }
.h8 { font-size: .75rem; }

.h-header{height:var(--height-header);}
.h-bttm-bar{height:var(--height-bttm-bar);}
.h-100vh{height:100vh}
.min-h-100vh{min-height: 100vh}

.opacity-50 { opacity:.5; }
.opacity-25 { opacity:.25; }

.lh1 { line-height: 1;}
.lh2 { line-height: 1.25;}

.strikethrough { text-decoration: line-through; }
.txt-overflow-ellipsis{text-overflow: ellipsis;}

.mt3-5 { margin-top: 3.5rem; }
.mln2-5 { margin-left: -1.5em; }
.mt-header-h{margin-top: var(--height-header);}
.mt-deduct-header{margin-top: calc(-1 * var(--height-header));}

.pb-100{padding-bottom: 100%;}

.overlay{top:0;left:0;bottom:0;right:0;}

.not-allowed { cursor: not-allowed; }

/* #COLORS */
.dark-gray { color: var(--dark-gray);}

.bg-transparent { background-color: transparent;}
.bg-dark-gray { background-color: var(--dark-gray);}
.bg-current-color{background-color: currentColor;}
.bg-green { background-color: var(--green); }
.bg-white { background-color: white; }
.bg-dots-white{background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='6' cy='6' r='3'/%3E%3Ccircle cx='15' cy='15' r='3'/%3E%3C/g%3E%3C/svg%3E");}
.bg-dots-green{background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2301b463' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='6' cy='6' r='3'/%3E%3Ccircle cx='15' cy='15' r='3'/%3E%3C/g%3E%3C/svg%3E");}

.border-green { border-color: var(--green); }
.border-dark-gray { border-color: var(--dark-gray);}
.outline-none { outline: 0;}

.pointer { cursor: pointer;}
.no-pointer { cursor: default;}
.no-select { user-select: none;}
.pointer-events-none{ pointer-events: none }

.rotate-180 { transform: Rotate(180DEG); }
.transl-x-100{ transform: translateX(100%); }
.trans-transform{ transition: transform var(--anim-timing-long); }
.trans-opacity-long{ transition: opacity var(--anim-timing-long); }

.pre {white-space: pre;}

/* #APP */
.material-icons
.material-icons {
  transition: all ease 500ms;
  font-size: inherit;
  line-height: inherit;
}

.asc:after {
  color: var(--green);
  content: '\002193';
  padding-left: .3em;
}

.desc:after {
  color: var(--green);
  content: '\002191';
  padding-left: .3em;
}

