.top-100 { top: 100%; }
.sticky { position: sticky; }

.momentum { -webkit-overflow-scrolling: touch; }

.min-width-1 { min-width: var(--width-0);}

.h7 { font-size: .94rem; }
.h8 { font-size: .75rem; }
.h-100{height:100%;}
.h-header{height:var(--height-header);}
.h-bttm-bar{height:var(--height-bttm-bar);}
.h-100vh{height:100vh}
.h-100vw{height:100vw;}
.min-h-100vh{min-height: 100vh}

.opacity-50 { opacity:.5; }
.opacity-25 { opacity:.25; }

.lh0 { line-height: 0 }
.lh1 { line-height: 1;}
.lh2 { line-height: 1.25;}

.strikethrough { text-decoration: line-through; }
.capitalize{text-transform: capitalize;}

.mtn2 { margin-top: -20%; }
.mt3-5 { margin-top: 3.5rem; }
.mln2-5 { margin-left: -1.5em; }
.mt-header-h{margin-top: var(--height-header);}
.mt-deduct-header{margin-top: calc(-1 * var(--height-header));}

.pb-100 { padding-bottom: 100%; }
.pb-bttm-bar { padding-bottom: var(--height-bttm-bar); }

.overlay{top:0;left:0;bottom:0;right:0;}

.overflow-x-scroll{overflow-x:scroll;}
.invisible-scrollbar::-webkit-scrollbar {display: none;}

.flex-grow{flex-grow: 1;}
.flex-order_-1{order:-1;}

/* #COLORS */
.dark-gray { color: var(--dark-gray);}

.bg-transparent { background-color: transparent;}
.bg-dark-gray { background-color: var(--dark-gray);}
.bg-current-color{background-color: currentColor;}
.bg-green { background-color: var(--green); }
.bg-white { background-color: white; }
.bg-dots-white{background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='4' cy='4' r='3'/%3E%3Ccircle cx='14' cy='14' r='3'/%3E%3C/g%3E%3C/svg%3E");}
.bg-dots-green{background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2301b463' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='4' cy='4' r='3'/%3E%3Ccircle cx='14' cy='14' r='3'/%3E%3C/g%3E%3C/svg%3E");}

.border-green { border-color: var(--green); }
.border-dark-gray { border-color: var(--dark-gray);}
.border-bottom-dotted{ border-bottom-style: dotted; }
.border-left-transp{border-left-color:transparent;}
.border-left-dotted{border-left-style:dotted;}
.outline-none { outline: 0;}
.outline{ outline:1px solid var(--green); }

.pointer { cursor: pointer;}
.no-pointer { cursor: default;}
.no-select { user-select: none;}
.pointer-events-none{ pointer-events: none }
.not-allowed { cursor: not-allowed; }

.rotate-180 { transform: Rotate(180DEG); }
.transl-x-100{ transform: translateX(100%); }
.flip-x{transform:scaleX(-1);}

.trans-transform{ transition: transform var(--anim-timing-medium); }
.trans-opacity-long{ transition: opacity var(--anim-timing-long); }

.pre {white-space: pre;}

.object-contain{object-fit: contain}

/* #APP */
.material-icons
.material-icons {
  transition: all ease 500ms;
  font-size: inherit;
  line-height: inherit;
}

.asc:after {
  color: var(--green);
  content: '\002193';
  padding-left: .3em;
}

.desc:after {
  color: var(--green);
  content: '\002191';
  padding-left: .3em;
}

