.hidden{ display:none; }

@media (--breakpoint-xs) {
  .xs-border-right-transp{border-right-color:transparent}
}
@media (--breakpoint-sm) {
  .sm-block{ display: block }
  .sm-flex-no-wrap{ flex-wrap: nowrap }
  .sm-flex-none{ flex:none; }
  .sm-col-auto{ width:auto; }
  .sm-bg-none{ background:none; }
  .sm-border{ border-style: solid }
  .sm-flex-first{order:-99;}
  .sm-justify-start{justify-content: flex-start;}
}
@media (--breakpoint-md) {
  .md-block{ display: block }
  .md-border-right-transp{border-right-color:transparent;}
  .md-border-right{border-right-style:solid;}
  .md-border-bottom{border-bottom-style: solid}
  .md-border{border-style:solid;}
  .md-bg-none{background:none;}
  .md-flex-first{order:-99;}
}
