@custom-media --breakpoint-xs (max-width: 559px);
@custom-media --breakpoint-sm (min-width: 560px);
@custom-media --breakpoint-sm-only (max-width: 768px);
@custom-media --breakpoint-md (min-width: 769px);
@custom-media --breakpoint-lg (min-width: 1024px);

:root {
  --rem: 10px;
  --body-font: "gt-amer-st-reg", -apple-system,system-ui,"San Francisco",BlinkMacSystemFont,"Helvetica Neue",Helvetica,Ubuntu,Roboto,Noto,"Segoe UI",Arial,sans-serif;
  --base-font-size: 16px;
  --small-font-size: 0.6em;
  /* colors */
  --aqua:  #7FDBFF;
  --blue:  #0074D9;
  --navy:  #001F3F;
  --teal:  #39CCCC;
  --green: rgb(0, 180, 100); /* #01B463 */
  --light-green: rgba(0, 180, 100, .4); /* #01B463 */
  --lighter-green: rgba(0, 180, 100, .16); /* #01B463 */
  --lightest-green: rgba(0, 180, 100, .1); /* #01B463 */
  --olive: #3D9970;
  --lime:  #01FF70;

  --yellow:  #FFDC00;
  --orange:  #FF851B;
  --red:     #FF4136;
  --fuchsia: #F012BE;
  --purple:  #A23FA3;
  --maroon:  #85144B;

  --white:  #FFFFFF;
  --silver: #DDDDDD;
  --light-gray: rgb(233, 233, 233);
  --gray:   rgb(73, 73, 73);
  --dark-gray: rgb(40, 40, 40);
  --black:  #111111;

  --darken-1: rgba(0, 0, 0, .0625);
  --darken-2: rgba(0, 0, 0, .125);
  --darken-3: rgba(0, 0, 0, .25);
  --darken-4: rgba(0, 0, 0, .5);

  --border-radius: 8px;
  --border-radius-2: 12px;

  --green-shadow: 4px 4px 4px rgba(1, 180, 99, 0.08);

  /* animations */
  --anim-timing: .08s;
  --anim-timing-medium: .18s;
  --anim-timing-long: .5s;
  --anim-timing-very-long: 2s;
  --anim-ease: ease-in-out;

  /* spacing */
  --space-1: .6rem;
  --space-2: 1.2rem;
  --space-3: 2.4rem;
  --space-4: 4.8rem;

  --width-0: 16rem;
  --width-1: 38.4rem;
  --width-2: 51.2rem;
  --width-3: 76.8rem;
  --width-4: 102.4rem;

  --height-header: 4.6rem;
  --height-bttm-bar: 8.6rem;
  --height-select: 3.9rem;

  --h00: 4em;
  --h0: 3em;
  --h1: 2em;
  --h2: 1.3em;
  --h3: 1.2em;
  --h4: 1em;
  --h5: .875em;
  --h6: .75em;
  --h7: .6em;
  --h8: .5em;
}
